body {
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    background: url('/static/lab9/snow-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    background-color: rgba(4, 158, 7, 0.7);
    padding: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    border-bottom: 5px solid #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px #000;
}
main {
    margin: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
}
button, .button {
    background-color: #ff0000; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 15px;
}
input {
    background-color: #2da1d7;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
}
input::placeholder {
    color: #ffffff;
    font-size: 15px;
    background-color: #2da1d7;
}
button:hover, .button:hover {
    background-color: #cc0000; 
    transform: scale(1.1);
}
footer {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-top: 3px solid #fff;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
