{% extends 'base.html' %}
{% block lab %} Деление чисел {% endblock %}
{% block main %} 
    <h1>Умножение чисел</h1>
    <form action="{{ url_for('lab4.umnozh') }}" method="post">
        <input type="number" name="x1" placeholder="Первое число" required>
        <input type="number" name="x2" placeholder="Второе число" required>
        <button type="submit">Умножить</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% elif result is not none %}
        <p> {{ x1 }} * {{ x2 }} = {{ result }}</p>
    {% endif %}
    <a href="{{ back_url }}">Назад</a>
{% endblock %}