body {
    background-color: rgb(199, 246, 243);
    color: rgb(0, 0, 0);
    font-family: Arial;
    margin: 4px;
    text-align: left;
    line-height: 20px;
    font-size: 20px;
}

footer {
    background-color: rgb(76, 139, 212);
    color: rgb(3, 9, 77);
    padding: 10px;
    font-size: 16px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    margin-bottom: 10px;
    padding: 15px;
    background: rgb(76, 139, 212);
    text-align: right;
}

main {
    margin: 10px 20px 56px;
}

.error {
    color:rgb(107, 19, 19);
    font-weight: bolder;
}

.drinksdop{
    color: rgb(30, 29, 27);
    font-weight: lighter;
}
.drinks{
    color: rgb(30, 29, 27);
    font-weight: lighter;
}
form {
    margin-top: 20px;
    font-weight: bolder;
}
label {
    display: block;
}
button {
    background-color: #70bdef;
    color: black;
    padding: 10px 15px;
}